* {
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 1em; 
}

html { 
	height: 100% ;
	font: 12px/1.231 Arial, sans-serif;
}

body { 
	font-size: 12px; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background: #292b30 url("/images/background-noise.png");
	color: white;'
}

#popup-body {
	background-color: #e5e5e5;
	color: black;
}

#logo {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-left: auto;
	position: absolute;
}

#header {
	height:70px; 
	margin-top: 10px;
	margin-right: 10px;
}

#navbar {
	padding-top: 5px;
	width: 100%;
	height: 25px;
	padding-bottom: 5px;
}

.aboutbutton, .addbutton {
	float: right;
	margin-right: 10px;
}

#tweetlink {
	float: left;
	margin-top: 2px;
	width: 93px;
	margin-left: 11px;
}

#followlink {
	float: left;
	margin-top: 2px;
	margin-left: 10px;
} 

#linkedinlink {
	margin-top: 2px;
	float: left;
	display: block;
}

#link {
	clear: both;
}

#right {
	float: right; 
	width: 220px; 
	height: 82%; 
	background-color: #e5e5e5;
	margin-top: 5px;
	margin-right:10px;
	margin-left: -220px;
	moz-box-shadow: 10px 5px 5px black; 
	-webkit-box-shadow: 10px 5px 5px black; 
	box-shadow: 10px 5px 5px black;
	border: 2px solid #1a6884;
}

#map_canvas {
	margin: 5px 250px 0 10px;
	height: 82%; 
	background-color: #e5e5e5; 
	moz-box-shadow: 10px 5px 5px black; 
	-webkit-box-shadow: 10px 5px 5px black; 
	box-shadow: 10px 5px 5px black;
	padding-right: 20px;
	border: 2px solid #1a6884;
	color: black;
}

@media screen and (max-width: 639px) {
	#map_canvas {
		width: 94%;
		height: 60%;
		padding: 0;
		margin: 0 10px;
		position: absolute;
		top: 100px;
	}
	#right {
		width: 94%;
		position: relative;
		top: 65%;
		clear: both;
		display: block;
		margin: 0 10px;
	}

}


#map_canvas .infocontent {
	float: left;
	padding-top: 6px;
}

#map_canvas .markerlogo {
	padding-left: 10px;
}

#map_canvas .logocontainer {
	float: right;
	width: 138px;
}

#footer {
	position: fixed;
	margin-bottom: 5px;
	bottom: 0;
	clear: both; 
	height:20px;
	width: 100%;
	background: #292b30 url("/images/background-noise.png");
	color: white;
}

#textlink {
	font-size: 14px;
}

.terms {
	float: right;
	margin-right: 10px;

}

.privacy {
	float: right;
	margin-right: 10px;
}

#textlink a:link {color:white;}    /* unvisited link */
#textlink a:visited {color:white;} /* visited link */
#textlink a:hover {color:#ccc;}   /* mouse over link */
#textlink a:active {color:white;}  /* selected link */

#iconwrapper {
	height: 44px;
	width: 100%;
	border-bottom: 2px solid #ccc;
	color: #0d0b16;
}
#iconwrapper:hover{
	background-color: #ccc;
}

.icon {
	float: left;
	height: 42px;
	width: 42px;
	vertical-align: middle;
	border: 0;
}

.textlink {
	text-decoration: none;
	font: 18px/1.231 Arial, sans-serif;	
	float: left;
	margin-left: 5px;
	height: 16px;
	margin-top: 20px;
	margin-bottom: auto;
	color: black;
}

.button, .findbutton, .submitbutton .file_upload {
	vertical-align: middle;
	margin-right: 10px;
	text-decoration: none;
	padding: 5px 10px;
	display: inline;
	background: #1a6884 url('/images/button.png') repeat-x bottom;
	display: block;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
}

.buttonsmall {
	vertical-align: middle;
	margin-right: 10px;
	text-decoration: none;
	padding: 5px 10px;
	display: inline;
	background: #1a6884 url('/images/button.png') repeat-x bottom;
	display: block;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
}

/* Add Company Map */

#dragtext {
	float: left;
	margin-left: 80px;
}

#geomap {
	height: 260px;
	width: 260px;
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	border: 2px solid #1a6884;
}



/* Form */

.box {
	float: left;
	margin: 0 auto;
	width: 310px;
	position: relative;
	font-size: 13px;
}

.box label {
	width: 100%;
	display: block;
	padding: 5px 0 5px 0;
}

.box label span {
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	padding: 5px 10px 0 0;
}

.box .input_text {
	width: 200px;
	background: #e5e5e5;
	border: 0;
	border-bottom: 1px dashed #1a6884;
	overflow: hidden;
}

.box .file_upload {
	width: 200px;
	background: #e5e5e5;
	border: 0;
	overflow: hidden;
}

.box #Postcode {
	background-color: #e5e5e5;
	border: 0;
	border-bottom: 1px dashed #1a6884;
	overflow: hidden;
	width: 145px;
}

.box .findbutton {
	float: right;
	font-size: 10px;
}

.box .submitbutton {
	float: right;
	margin-right: 75px;
	margin-top: 10px;
}

.box .logoadvice {
	float: right;
	width: 200px;
	background: #e5e5e5;
	border: 0;
	font-size: 10px;
	overflow: hidden;
	margin-top: 2px;
}

iframe {
	overflow: hidden;
	border: 0;
}

.ui-autocomplete { 
	background-color: white; 
	width: 300px; 
	border: 1px solid #cfcfcf; 
	list-style-type: none; 
	padding-left: 0px;
}

#confirmation-text {
	text-align: center;
}

#aboutmap-content {
	color: black;
	text-align: justify;
	height: auto;
}

#aboutmap-content a:link {color:black;}    /* unvisited link */
#aboutmap-content a:visited {color:black;} /* visited link */
#aboutmap-content a:hover {color:#ccc;}   /* mouse over link */
#aboutmap-content a:active {color:black;}  /* selected link */

.popup{ position:relative; width:500px; height:70px; list-style:none; cursor:pointer;}
.popup li div{ position:absolute; z-index:10; visibility:hidden; width:853px; height:480px; left:-200px;}
.popup li:hover div{visibility:visible;}
