* {
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 1em; 
}

html { 
	height: 100% ;
	font: 12px/1.231 Arial, sans-serif;
}

body { 
	font-size: 12px; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background: #0d0b16 url("/images/background-noise.png");
	color: white;'
}

#logo {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-left: auto;
	position: absolute;
}

#header {
	width: 100%; 
	height:70px; 
	margin-top: 10px;
	margin-right: 10px;
}

#navbar {
	padding-top: 5px;
	width: 100%;
	height: 25px;
	padding-bottom: 5px;
}

.aboutbutton, .addbutton {
	float: right;
	margin-right: 10px;
	text-decoration: none;
	padding: 5px 10px;
	display: inline;
	background: #1a6884 url('/images/button.png') repeat-x bottom;
	display: block;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
}

#tweetlink {
	margin-top: 2px;
	float: right;
	width: 93px;
}

#right {
	float: right; 
	width: 220px; 
	height: 80%; 
	background-color: #e5e5e5;
	margin-top: 5px;
	margin-right:10px;
	margin-left: -220px;
	moz-box-shadow: 10px 5px 5px black; 
	-webkit-box-shadow: 10px 5px 5px black; 
	box-shadow: 10px 5px 5px black;
	border: 2px solid #1a6884;
}

#map_canvas { 
	height: 80%; 
	background-color: #e5e5e5; 
	moz-box-shadow: 10px 5px 5px black; 
	-webkit-box-shadow: 10px 5px 5px black; 
	box-shadow: 10px 5px 5px black;
	padding-right: 20px;
	border: 2px solid #1a6884;
	margin-right: 250px;
	margin-top: 5px;
}

#footer {
	clear: both; 
	height:15px;
}

#iconwrapper {
	height: 48px;
	width: 100%;
	border-bottom: 2px solid #ccc;
	color: #0d0b16;
	vertical-align: middle;
}
#iconwrapper:hover{
	background-color: #ccc;
}

.icon {
	float: left;
	height: 48px;
	vertical-align: middle;
}

.textlink {
	text-decoration: none;
	font: 18px/1.231 Arial, sans-serif;	
	float: left;
	margin-left: 5px;
	height: 16px;
	margin-top: 20px;
	margin-bottom: auto;
	color: black;
}

.button {
	text-decoration: none;
	padding: 5px 10px;
	display: inline;
	background: #777 url('/images/button.png') repeat-x bottom;
	display: block;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
}

/* Add Company Map Stuff */

#formwrapper {
	float: left;
}

#geomap {
	height: 250px;
	width: 250px;
	float: right;
	margin-right: 15px;
}

.ui-autocomplete { 
	background-color: white; 
	width: 300px; 
	border: 1px solid #cfcfcf; 
	list-style-type: none; 
	padding-left: 0px;
}

.popup{ position:relative; width:500px; height:70px; list-style:none; cursor:pointer;}
.popup li div{ position:absolute; z-index:10; visibility:hidden; width:853px; height:480px; left:-200px;}
.popup li:hover div{visibility:visible;}
