<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Add Venture Details & Location</title>
    <link type="text/css" href="/css/admin.css" rel="stylesheet" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfrgWSKJuOCGY3HQAibKOjdVJcFRF2BJU&sensor=false"></script>
    <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
  </head>
  <body id="popup-body">
  
  <div id="formwrapper">
    
    <form action="/save" enctype="multipart/form-data" method="post" name="profile">
        
      <div class="box">
        
        <label>
          <span>Select Category:</span> 
            <select name="category">
              <option value="company">Tech Company</option>
              <option value="investor">Investor</option>
              <option value="workspace">Working Space</option>
              <option value="incubator">Incubator</option>
              <option value="support">Business Support</option>
              <option value="wifispot">Wifi Spot</option>
              <option value="coderdojo">Coder Dojo</option>
              <option value="codeclub">Code Club</option>
              <option value="education">Learning Space</option>
            </select><br/>
        </label>

        <label>
          <span>Name:</span>
          <input type="text" align="left" width="50" name="name" class="input_text"/>
        </label>

        <label>
          <span>No. / Building:</span>
          <input type="text" align="left" width="50" name="street" class="input_text"/>
        </label>

        <label>
          <span>Street</span>
          <input type="text" align="left" width="50" name="street2" class="input_text"/>
        </label>

        <label>
          <span>Town/City:</span>
          <input type="text" align="left" width="50" name="city" class="input_text"/>
        </label>

        <label>
          <span>County:</span>
          <input type="text" align="left" width="50" name="county" class="input_text"/>
        </label>

        <label>
          <span>Postcode:</span>
          <input class="postcode" id="Postcode" name="postcode" type="text"/> 
          <input type="submit" id="findbutton" class="findbutton" value="Find"/>
        </label>

        <label>
          <span>Website:</span>
          <input type="text" align="left" width="50" name="website" class="input_text" />
        </label>
        
        <label>
          <span>Email:</span>
          <input type="text" align="left" width="50" name="email" class="input_text"/>
        </label>

        <label>
          <span>Phone:</span>
          <input type="text" align="left" width="50" name="phone" class="input_text"/>
        <label>

        <label>
          <span>Logo:</span>
          <input type="file" align="center" name="img" class="file_upload" />
          <div class="logoadvice">(less than 1mb)</div>
        <!--
        <label>
          I agree to the <a href="/termsandconditions">terms and conditions</a> of the NI Digital Map
          <span><input type="radio" name="terms" id="terms" value="true"></span> 
        </label> -->
        
        <label>
          <input type="submit" id="submit" value="Submit" class="submitbutton" onclick="return validateForm()"/>
        </label>
      </div>
          <input id="hidLat" name="latitude" type="hidden" value="">
          <input id="hidLong" name="longitude" type="hidden" value="">
    </form>
  </div>
    <!-- Map Code -->

    <div id="mapwrapper">
      <div id="geomap" style="width:250px; height:250px;">
        <p>Loading Please Wait...</p>
      </div> 
      <div id="dragtext">Drag pin to reposition...</br></div>
    </div>

    </form>
  </body>
</html>