<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/addcompany.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfrgWSKJuOCGY3HQAibKOjdVJcFRF2BJU&sensor=false">
    </script>

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
  </head>
  <body onload="initialize({{coords}})">
      <div id="header">
        <div id="logo">
          <img src="/images/logo.png">
        </div>
      </div>
    	
      <div id="navbar">
        <a href="#" class="aboutbutton">About This Map</a>
    		<a href="#" class="addbutton">Add Your Company</a>
          

        <div id="tweetlink">
          <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="NIDigitalMap">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          </script>
        </div>
      </div>
  
      <div id="right">
        <div id="iconwrapper">
          <a id="link" href="/">
            <img src="/images/all.png" class="icon"/>
            <p class="textlink">All NI Ventures</p>
            </a>
        </div>
        <div id="iconwrapper">
          <a id="link" href="/category/?category=company">
            <img src="/images/company.png" class="icon"/>
            <p class="textlink">Tech Companies</p>
            </a>
        </div>
        <div id="iconwrapper">
          <a id="link" href="/category/?category=investor">
            <img src="/images/investor.png" class="icon"/>
            <p class="textlink">Investors</p>
          </a>
        </div>
        <div id="iconwrapper">
          <a id="link" href="/category/?category=workspace">
            <img src="/images/workspace.png" class="icon"/>
            <p class="textlink">Coworking Space</p>
          </a>
        </div>

        <div id="iconwrapper">
          <a id="link" href="/category/?category=incubator">
            <img src="/images/incubator.png" class="icon"/>
            <p class="textlink">Incubator</p>
          </a>
        </div>
        <div id="iconwrapper">
          <a id="link" href="/category/?category=support">
            <img src="/images/support.png" class="icon"/>
            <p class="textlink">Business Support</p>
          </a>
        </div>
        <div id="iconwrapper">
          <a id="link" href="/category/?category=wifispot">
            <img src="/images/wifispot.png" class="icon"/>
            <p class="textlink">Wifi Spot</p>
          </a>
        </div>
        <div id="iconwrapper">
          <a id="link" href="/category/?category=coderdojo">
            <img src="/images/coderdojo.png" class="icon"/>
            <p class="textlink">Coder Dojo</p>
          </a>
        </div>
        <div id="iconwrapper">
          <a id="link" href="/category/?category=codeclub">
            <img src="/images/codeclub.png" class="icon"/>
            <p class="textlink">Code Club</p>
          </a>
        </div>
      </div>

      <div id="map_canvas"></div>

      <div id="footer"></div>

      <div id="addcompany-content">
          <iframe height="360" width="600" seamless="seamless" scrolling="no" src="/add">
          </iframe>
      </div>

      <div id="aboutmap-content">
        <p>NI Digital Map is here to provide a visual representation of the digital & 
          creative industry in Northern Ireland.</p><br/>
        <p>The digital landscape of Northern Ireland encompasses all of the following and more...
          </br/><br/>
          <ul>
            <li><b>Tech Companies:</b> App builders, internet creators, software houses, code factories, design buffs!</li>
            <li><b>Investors:</b> Funds, angels, money-men, backers!</li>
            <li><b>Coworking Space:</b> Hackerspot, hot desking, jam house, labspace!</li>
            <li><b>Incubator</b> Greenshooters, startup space, virtual realities!</li>
            <li><b>Business Support:</b> Experts, advisors, fixers and solvers!</li>
            <li><b>Wifi Spot:</b> Coffices, talk-shops, battery chargers, hangouts!</li>
            <li><b>Coder Dojo & Code Club:</b> The future of Nothern Ireland!</li>
          </ul>
        </p>
      </div>

      <!-- Modal Popup Contents Below Here -->
     
  <script type='text/javascript' src='/js/jquery.js'></script>
  <script type='text/javascript' src='/js/jquery.simplemodal.js'></script>
  <script type='text/javascript' src='/js/modalcontroller.js'></script>

  </body>
</html>

