<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/addcompany.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfrgWSKJuOCGY3HQAibKOjdVJcFRF2BJU&sensor=false">
    </script>

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
  </head>
  <body onload="initialize({{coords}})">
      <div id="header">
        <div id="logo">
          <img src="/images/logo.png">
        </div>
      </div>
    	
      <div id="navbar">
        <a href="#" class="aboutbutton">About This Map</a>
    		<a href="#" class="addbutton">Add Your Company</a>
          

        <div id="tweetlink">
          <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="NIDigitalMap">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          </script>
        </div>
      </div>
  
      <div id="right">
        <div id="iconwrapper">
          <a id="link" href="/category/?category=company">
            <img src="/images/company.png" class="icon"/>
            <p class="textlink">Tech Companies</p>
            </a>
        </div>
        <div id="iconwrapper">
          <a id="link" href="/category/?category=incubator">
            <img src="/images/incubator.png" class="icon"/>
            <p class="textlink">Working Spaces</p>
          </a>
        </div>
        <div id="iconwrapper">
          <a id="link" href="/category/?category=incubator">
            <img src="/images/investor.png" class="icon"/>
            <p class="textlink">Investors</p>
          </a>
        </div>
      </div>

      <div id="map_canvas"></div>

      <div id="footer"></div>

      <div id="addcompany-content">
          <iframe height="360" width="600" seamless="seamless" scrolling="no" src="/add">
          </iframe>
      </div>

      <div id="aboutmap-content">
        <p>about_this_map::content</p>
      </div>

      <!-- Modal Popup Contents Below Here -->
     
  <script type='text/javascript' src='/js/jquery.js'></script>
  <script type='text/javascript' src='/js/jquery.simplemodal.js'></script>
  <script type='text/javascript' src='/js/modalcontroller.js'></script>

  </body>
</html>

