<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfrgWSKJuOCGY3HQAibKOjdVJcFRF2BJU&sensor=false">
    </script>

    <script type="text/javascript" src="/js/main.js">

    </script>
  </head>
  <body onload="initialize({{coords}})">
    <div id="header">
    		<div id="addbutton">
    			<a href="/add" class="button">Add Your Company</a>
    		</div>
    	</div>
    	
    <div id="map_canvas"></div>
    
    <div id="right">
    		<div id="right-top"></div>
    </div>
    
    <div id="footer"></div>
  </body>
</html>

