<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="apple-touch-icon-precomposed" href="/map/mobile/images/campusmap-iphone-icon.png" /><link rel="apple-touch-startup-image" href="http://search.missouristate.edu/map/mobile/images/startup.png" /><meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" /><link rel="Stylesheet" media="all" type="text/css" href="/css/mobile.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/mobile.css" /> -->

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfrgWSKJuOCGY3HQAibKOjdVJcFRF2BJU&sensor=true">
    </script>

    <script type="text/javascript" src="/js/mobile.js"></script>
    <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
  </head>
  <body onload="initialize({{coords}})">
      <div id="map_canvas"></div>
  </body>
</html>

