<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>View Venture</title>
    <link type="text/css" href="/css/admin.css" rel="stylesheet" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfrgWSKJuOCGY3HQAibKOjdVJcFRF2BJU&sensor=false"></script>
    <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
  </head>
  <body>
    Name: {{venture.name}}
  </body>
</html>