<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfrgWSKJuOCGY3HQAibKOjdVJcFRF2BJU&sensor=false">
    </script>

    <script type="text/javascript" src="js/main.js">

    </script>
  </head>
  <body onload="initialize()">
    <div id="header"></div>
    <div id="map_canvas"></div>
    <div id="right"></div>
    <div id="footer"></div>
  </body>
</html>

