.clearfix
  .left.mrl
    .mbl
      .commutator.off
        .is.on
          On
          .is.off
            Off

    .mbl
      .commutator.on
        .is.on
          On
          .is.off
            Off

  .last-col
    .mbl
      .commutator.off
        .is.on
          Turned on
          .is.off
            Is off

    .mbl
      .commutator.on
        .is.on
          Turned on
          .is.off
            Is off

