.currently-playing.js-currently-playing
  .playing.artist The Cardigans
  .playing.song I Need Some Fine Wine And You

  .song-info.clearfix
    .song-time.start 0:34

    -# We can reuse already existed scrollbox
    .scrollbox.dot
      .hitbox.js-currently-playing-hitbox
      .scale.js-currently-playing-scale{:style => "width: 20%"}
        .slider

    .song-time.end 2:41

