.paragraph.sharp
  full bass &amp; treble

.equalizer.clearfix
  .equalizer-bar
    .equalizer-scale{:style => "height: 35px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 46px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 22px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 48px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 61px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 65px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 78px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 100px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 62px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 33px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 78px"}

