.equalizer.clearfix
  .equalizer-bar.minimal
    .equalizer-scale{:style => "height: 35px"}

  .equalizer-delimiter

  .equalizer-bar.elastic
    .equalizer-scale{:style => "height: 70px"}

  .equalizer-delimiter

  .equalizer-bar
    .equalizer-scale{:style => "height: 105px"}

