%ul.player.clearfix
  -# Back button
  %li.player-control
    .player-icon.p-back

  -# Play button
  %li.player-control-huge
    .player-icon.p-play

  -# Next button
  %li.player-control
    .player-icon.p-next

  -# Volume button
  %li.player-control-wrapper.js-player
    .player-control
      .player-icon.p-volume

    .player-scale-holder
      .player-scale.js-volume-scale
        .player-scale-filler.js-volume-bar{:style => "width: 40%"}

