.wrapper.clearfix
  .col1of4
    .site-info-links
      .mbl
        %a.twitter-share-button{"data-via" => "designmodo", :href => "https://twitter.com/share"} Tweet
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      .mbl
        #fb-root
        :javascript
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        .fb-like{"data-font" => "arial", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "100"}

      .g-plusone{"data-size" => "medium"}
      :javascript
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();

  .col1of2
    .futurico-content
      .site-info
        %h1.sitename
          Futurico user interface
          %span.version 1.0

        .about
          %span.legend-left
          %span.legend-center beautiful ui components
          %span.legend-right

  .col1of4.last-col
    .site-info-credentials
      .mbl
        %h3
          %strong
            Design by
            %a{:href => "http://vladimirkudinov.com"} Vladimir Kudinov
        %a{:href => "http://www.behance.net/madbyte"} Portfolio on Behance

      %h3
        %strong
          Coded by
          %a{:href => "http://twitter.com/iurevych"} Sergii Iurevych
      Using
      %a{:href => "http://railsware.github.com/scaffy"} Scaffy

