.clearfix
  .col1of2
    .user-slug
      %img.slug-avatar{:src => "/images/avatars/iurevych.jpg", :alt => "Sergii Iurevych"}
      %ul.last-col
        %li.slug-name Sergii Iurevych
        %li.slug-status.online Online

  .col1of2.last-col
    .user-slug
      %img.slug-avatar{:src => "/images/avatars/kudinov.jpg", :alt => "Vladimir Kudinov"}
      %ul.last-col
        %li.slug-name Vladimir Kudinov
        %li.slug-status.away Away

