!!!
%html{:lang => "en-US"}
  %head
    %meta{:charset => "UTF-8"}
    %title Futurico User Interface | Beautiful UI Components
    =stylesheet_link_tag "bundle"
    =javascript_include_tag "application"
    %meta{:content => "initial-scale = 1, maximum-scale = 1, user-scalable = no", :name => "viewport"}/
  %body
    %img.background-light{:src => "/images/background-light.png", :alt => ""}

    .container
      =render :partial => "site-info"

      .content
        .wrapper.clearfix
          .col1of4
            =render :partial => "text-inputs"
            =render :partial => "scrollboxes"
            =render :partial => "selects"
            =render :partial => "text-inputs-rounded"

          .futurico-content.last-col
            .mbl.pbl
              =render :partial => "tabbox"
            .clearfix
              .left.mrl.prl
                =render :partial => "equalizer-bars"
              .col1of6
                =render :partial => "crossbar"
              .col1of3
                =render :partial => "currently-playing"
              .col1of3.last-col
                .mll.pll
                  = render :partial => "commutators"

        =render :partial => "header"

        .wrapper.clearfix
          .col1of4
            .mbl.pbm
              = render :partial => "checkboxes"
            .mbl
              =render :partial => "login"
            .mbl
              =render :partial => "hot-news"
            .mbl.pvm
              =render :partial => "progressbar"
            .mbl.clearfix
              =render :partial => "player"
            .mbl.clearfix
              =render :partial => "equalizer"

          .futurico-content.last-col
            .mbl.pbl.clearfix
              .col1of2
                =render :partial => "slideshow"
              .col1of2.last-col
                .pll.mll
                  =render :partial => "stickers"

            .mbl.pbl.clearfix
              .col1of2
                =render :partial => "datepicker"

              .col1of2.last-col
                .pll.mll
                  =render :partial => "circle-banner"

            .mbl.pbl.clearfix
              .col1of2.mrl.prl
                .mbl.pbm.clearfix
                  =render :partial => "appreciate"

                .mbl.pbm
                  =render :partial => "user-slug"

                =render :partial => "starbar"

              .left.pll.mlm
                =render :partial => "buttons"

        .wrapper.by-center
          %a.crosslink{:href => "http://designmodo.com/futurico-html/"}
            Download on DesignModo

